# Base de données SQLite
*.db
*.sqlite3

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
.env
.venv
env/
venv/
ENV/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de configuration IDE
.idea/
.vscode/
*.swp
